/* tag generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag body */

#contenitore{
    border: 1px solid black;
    height: auto;
    margin: 2% 7%;
}

/* tag header */

header{
    background-color: fuchsia;
    height: 80px;
    margin-bottom: 2%;
}

/* tag main */

.sopra{
    background-color: rgb(226, 226, 47);
    height: 400px;
    margin-bottom: 2%;

}

.sotto{
    background-color: rgb(0, 174, 255) ;
    height: 600px;
    margin-bottom: 2%;
}